/Lista4/zadnew.py
/Lista4/Lista4.zip
/Lista3/zadnowe.json
/Lista3/Lista3.zip
/Lista2/zadnew.json
/Lista2/Lista2.zip
/Lista1/zadnew.py
/Lista1/Lista1.zip
/Lista3/
/Lista5/Lista5.zip
/Lista7/Lista7.zip
/Lista6/Lista6.zip
/Lista5/zadnew.py
/Lista7/Figure_1.png
/Lista7/Figure_2.png
/Lista8/Lista8.zip
/Lista8/test.json
/Lista8/zapisz.json
/Lista9/Lista9.zip
/Lista9/Figure_1.png
/Lista9/test.json
/Lista7/zad5.py
/Lista10/Lista10.zip
/Lista11/Lista11.zip
/Lista11/robots.csv
/Lista11/test.json
/Lista12/graph
/Lista12/Lista12.zip
